/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2015, 10:07:37 AM
    Author     : anniefifer1
*/

#taskTab {
    -fx-background-color: #A8A8A8;//-fx-mark-color;
    -fx-background-image: url("../resources/checklist3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-style: none;
    -fx-padding: 0;
}

#scheduleTab {
    -fx-background-color: #A8A8A8;//-fx-mark-color;
    -fx-background-image: url("../resources/calendar146.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-border-style: none;
    -fx-padding: 0;
}

#taskTab:selected, #scheduleTab:selected {
    -fx-background-color: #59ABE3;
}

.tab-pane {
    -fx-tab-min-width: 50px;
    -fx-tab-min-height: 60px;
    -fx-background-color: #59ABE3;
}
